body{
  background-color: gray;
}

.navbar{
  background-color: black !important;


}
.nav-item{
  color:orange !important;
  
}
.card{
  background-color: black;
  color: orange;
  gap: 20px;
  flex: auto;
}

#footr{
  background-color: black !important;
}

